<!DOCTYPE html>
{% extends "my_app/base.html"%}
{% block body_block %}
<div class=contacts >
    </a>
    <a href="https://github.com/chanstefvi">
<i class="fa fa-github" style="font-size:48px;color:black"></i>    </a>
&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="https://stackoverflow.com/users/9969422/chandan-rai">
        <i class="fa fa-stack-overflow" style="font-size:48px;color:black"></i></a>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     <a href="https://www.hackerrank.com/Chanstef">
        <i class="fab fa-hackerrank" style="font-size:48px;color:black"></i></a>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

      <a href="https://angel.co/chandan-rai-8">
<i class="fa fa-angellist" style="font-size:48px;color:black"></i></a>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <a href="https://www.meetup.com/members/259431279/">
                <i class="fa fa-meetup" style="font-size:48px;color:black"></i></a>
    &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                  <a href="https://www.linkedin.com/in/chandan-rai-044a10162/">
                      <i class="fa fa-linkedin-square" style="font-size:48px;color:black"></i></a>
    &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        <a href="https://github.com/chanstefvi">
<i class="fa fa-thumbs-up" style="font-size:48px;color:black"></i>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                              <a href="https://www.facebook.com/profile.php?id=100010459516782">
                                  <i class="fa fa-facebook-square" style="font-size:48px;color:black"></i></a>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  <i class="fa fa-envelope" style="font-size:48px;color:black"></i>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</div>
{% endblock %}